@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Roboto Serif", serif;
}
code {
  font-family: "Roboto Serif", serif;
}

:root {
  --primary-one: #18d2af;
  --primary-two: #0fcfeb;
  --primary-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --secondary-shadow: rgb(204, 219, 232) 0px 0px 8px 5px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.gradient {
  background: #0fcfeb;
  background: linear-gradient(333deg, #0fcfeb 0%, #18d2af 100%);
}
.white-glass {
  /* From https://css.glass */
  background: #0fcfeb;
  background: linear-gradient(333deg, #0fceeb7a 0%, #18d2b088 100%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
input {
  outline: none;
  border: none;
  background: transparent;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}
